* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Product Sans";
}

html,
body {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  min-height: 100vh;
  background-color: beige;
}
.container {
  width: 100%;
  height: 100vh;
}
#one {
  background-color: #f2f1ef;
}
#one .content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding-top: 2rem; */
  overflow: hidden;
}
#one h1 {
  margin-top: 15rem;
  font-size: 4.5rem;
  letter-spacing: 2px;
  text-align: center;
}
.content video {
  width: 90%;
}
#two {
  /* padding: 10rem; */
  height: 170vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#two h2 {
  font-size: 3rem;
  text-align: center;
  margin: 5rem;
  /* padding: 2rem 10rem; */
}

.grid-container {
  position: relative;
  width: 600px; /* Container width */
  height: 500px; /* Container height */
}

.grid-item {
  position: absolute;
  border-radius: 12px; /* Smooth rounded corners */
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Positioning and sizing each grid-item */
.grid-item:nth-child(1) {
  width: 60%;
  height: 100%;
  left: -40%;
  top: 0;
}

.grid-item:nth-child(2) {
  width: 65%;
  height: 55%;
  top: -10%;
  left: 30%;
}

.grid-item:nth-child(3) {
  width: 50%;
  height: 40%;
  top: 5%;
  right: -55%;
}

.grid-item:nth-child(4) {
  width: 60%;
  height: 50%;
  bottom: 0;
  right: -65%;
}

.grid-item:nth-child(5) {
  width: 70%;
  height: 80%;
  bottom: -30%;
  right: 0;
}
.content3 {
  width: 100%;
  height: 100vh;
  display: flex;
  /* background-color: rgb(208, 96, 96); */
  padding: 10px;
}

#content4 {
  flex-direction: row-reverse;
}
.left {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  padding-left: 15vw;
  /* gap: 4; */
  color: #ffffff;
}
.left h1 {
  font-size: 2.5rem;
}
.left p {
  margin: 1.5rem 0;
}
.left button {
  width: 10vw;
  padding: 0.9rem;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  /* align-items: left; */
}
.right {
  position: relative;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-1 {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 25vw;
  height: 35vw;
  border-radius: 20px;
  background-image: url(./assets/asset8.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* z-index: 1; */
}
.img-2 {
  width: 25vw;
  height: 35vw;
  border-radius: 20px;
  background-color: #382130;
}
.r-img-2 {
  background-color: #1f2420;
}
.img-3 {
  position: absolute;
  bottom: 25%;
  right: 15%;
  width: 20vw;
  height: 13vw;
  border-radius: 20px;
  background-image: url(./assets/asset3.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* z-index: 1; */
}

#four {
  padding-right: 5rem;
}

.r-img-1 {
  background-image: url(./assets/asset12.jpeg);
  top: 5%;
  left: 40%;
}
.r-img-3 {
  background-image: url(./assets/asset14.jpeg);
  bottom: 25%;
  left: 15%;
}

/* five container */
#five {
  display: flex;
  position: absolute;
  padding: 3%;
}
.five-img {
  width: 70%;
  height: 100%;
  background-image: url(./assets/asset18.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: 0 2rem;
}

.five-shop {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #f0efeb;
  height: 40%;
  width: 30%;
  border-radius: 20px;
  top: 30%;
  right: 10%;
}
.five-shop h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.five-shop button {
  width: 10vw;
  padding: 0.9rem;
  border: none;
  border-radius: 10px;
  background-color: #000;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}
/* six container */

